<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="bower_components/react/react.js"></script>
<script src="bower_components/react/react-dom.js"></script>
<script src="bower_components/ngReact/ngReact.min.js"></script>

<body>
    <script src="script.js"></script>

    <div ng-app="myShoppingList" ng-controller="myCtrl">
        <ul>
            <li ng-repeat="x in products">
                {{x}}<span ng-click="removeItem($index)">&times;</span>
            </li>
        </ul>
        <input ng-model="addMe">
        <button ng-click="addItem()">Add</button>
        <p>{{errortext}}</p>
        <react-component name='HelloComponent' props="person"/>
    </div>

</body>

</html>